@model OfficeSpace.Models.EmailModel
@{
    ViewBag.Title = "ForgotPassword";
}

<style>
    .validationError {
        font-size: 14px;
        color: #ff0000;
    }

    span.field-validation-error {
        color: red;
    }
</style>

<div>
    <div class="row" style="padding-top: 9%; margin-left: 0px; margin-right: 0px;">
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="row" style="text-align: center">
                <span class="login-font">&nbsp;OFFICE SPACE APPROVAL SYSTEM</span><br />
            </div>
            <div class="well" style="background-color: white; border-radius: 8px;">
                @using (Html.BeginForm("SendMail", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="form-group" style="padding-left: 18px; padding-right: 18px; padding-top: 20px">
                            <span style="color: #5d5d5d;">&nbsp;Enter your email and we will send you the password !!</span>                           
                            @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control input-lg ", placeholder = "Email Id...." })
                            @Html.ValidationMessageFor(m => m.EmailID)
                            @Html.ValidationMessage("", new { @class = "validationError" })
                        </div>

                        <div class="form-group">
                            <div class="pull-right" style="padding-right: 22px; padding-top: 18px">
                                <button class="btn red-background-colour" type="submit"><span class="fa fa-arrow-circle-right"></span>&nbsp;Send&nbsp;Password</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
    </div>
</div>

